<footer>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="social-links">           
        <a href="https://www.linkedin.com/in/angelovnikolay/" aria-label="LinkedIn">
            <i class="fa fa-linkedin"></i>
            <span class="link-text">Linkedin</span>
        </a>
        
        <a href="mailto:angelov.nikolay@live.com">
            <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="Email">
            <span class="link-text">Email</span>
        </a>
    </div>
</footer>