<header>
    <nav>
        <div class="menu-icon" id="menuToggle">☰</div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutme.html">More About Me</a></li>
            <li><a href="newsletter.html">Newsletter</a></li>
            <li><a href="books.html">Book</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Games</a>
                <ul class="dropdown-menu">
                    <li><a href="games/team_topology_game.html">Team Topology Game</a></li>
                </ul>
            </li>
            <li><a href="professional-experience.html">Professional Experience</a></li>
        </ul>
    </nav>
</header>